@import "../helpers/helpers.scss";

.main_footer {
	// height: 100px;
	background-color: #572314;
	color: var(--color_tertiary) !important;
	.footer_upper {
		padding: 20px 0 40px;
		.LogoBx {
			width: fit-content;
			padding-bottom: 50px;
		}
		.MainFlex {
			display: flex;
			justify-content: space-between;
			@media screen and (max-width: 767px) {
				flex-direction: column;
				gap: 30px;
			}
			.ContactDetails {
				width: 40%;
				color: var(--color_tertiary);
				@media screen and (max-width: 1199px) {
					width: 45%;
				}
				@media screen and (max-width: 767px) {
					width: 100%;
				}
				.DetailsBx {
					padding-top: 30px;
					display: flex;
					align-items: flex-start;
					gap: 15px;
					img {
						width: 20px;
						padding-top: 5px;
					}
					.content {
						p {
							color: var(--color_tertiary) !important;
						}
						.hidden_md {
							display: inline-block;
							@media screen and (max-width: 991px) {
								display: none !important;
							}
						}
						.visible_md {
							display: none !important;
							@media screen and (max-width: 991px) {
								display: block !important;
							}
						}
					}
				}
			}
		}
	}
	.footer_lower {
		display: flex;
		justify-content: space-between;
		padding: 40px 0;
		border-top: 1px solid rgba($color: #f0b180, $alpha: 0.1);
		@media screen and (max-width: 767px) {
			flex-direction: column;
			align-items: center;
			gap: 30px;
		}
		.CopyrightBx {
		}
		.SocialBx {
			display: flex;
			gap: 10px;
			.IconBx {
				// margin: auto;
				a {
					display: flex;
					width: 25px;
					height: 25px;
					border-radius: 50%;
					justify-content: center;
					align-items: center;
					background-color: white;
				}
			}
		}
		.MadeByTing {
		}
	}
}
