$browser-prefixes: false !default;
@font-face {
	font-family: "Vesperlibre";
	src: url("/fonts/VesperLibre-Medium.ttf") format("opentype");
}

@font-face {
	font-family: "LibreFranklin-Regular";
	src: url("/fonts/LibreFranklin-Regular.ttf") format("opentype");
}

@font-face {
	font-family: "LibreFranklin-Light";
	src: url("/fonts/LibreFranklin-ExtraLight.ttf") format("opentype");
}

:root {
	// Fonts
	--font_primary: "LibreFranklin-Regular";
	--font_secondary: "Vesperlibre";
	--font_tertiary: "LibreFranklin-Light";

	// Primary colors
	--color_primary: #411A0F;
	--color_secondary: #D94426;
	--color_tertiary: #FFF7E9;
	--color_fourth: #F0B180;
	--color_fifty: #992621;
	// Secondary colors
	--color_black: #000000;
	--color_white: #ffffff;

	// Extras
	--container_width: 100%;
	--container_left_space: calc((100% - var(--container_width)) / 2);
	--transition: ease all 300ms;

	@media (min-width: 768px) and (max-width: 991px) {
		--container_width: 750px;
	}

	@media (min-width: 992px) and (max-width: 1199px) {
		--container_width: 970px;
	}

	@media (min-width: 1200px) {
		--container_width: 1170px;
	}

	// @media (min-width: 1401px) {
	//   --container_width: 1360px;
	// }
}
