@import "../helpers/helpers.scss";

.FieldsSec {
	padding: 50px 0;
	.FlexMain {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		@media screen and (max-width: 991px) {
			flex-direction: column;
			gap: 30px;
		}
		.TextBx {
			width: 45%;
			@media screen and (max-width: 1199px) {
				width: 45%;
			}
			@media screen and (max-width: 991px) {
				width: 100%;
			}
			h2 {
				color: var(--color_primary);
			}
			h5 {
				padding: 10px 0 20px;
			}
			p {
				color: var(--color_primary);
			}
		}
		.ImgBx {
			width: 50%;
			@media screen and (max-width: 1199px) {
				// width: 55%;
			}
			@media screen and (max-width: 991px) {
				width: 100%;
			}
			.FieldItem {
				display: flex;
				gap: 15px;
				padding: 30px;
				background-color: var(--color_fourth);
				border-radius: 10px;
				width: 420px;
				border: 1px solid var(--color_tertiary);
				@media screen and (max-width: 767px) {
					width: 90%;
					padding: 15px;
				}
				&:nth-child(1){
					transform: rotate(-3deg) translateX(20px);
				}
				&:nth-child(2){
					transform: rotate(8deg) translateX(50px);
					z-index: 2;
					position: relative;
					@media screen and (max-width: 767px) {
						transform: rotate(8deg) translateX(35px);
					}
				}
				&:nth-child(3){
					transform: rotate(-2deg);
				}
				.ItemImg {
					width: 70px;
					@media screen and (max-width: 767px) {
						width: 50px;
					}
					img{
						width: 70px;
						@media screen and (max-width: 767px) {
							width: 50px;
						}
					}
				}
				.ItemTxt {
					width: calc(100% - 85px);
					@media screen and (max-width: 767px) {
						width: calc(100% - 65px);
					}
					p {
						color: var(--color_primary);
					}
				}
			}
		}
	}
}
