@import "../helpers/helpers.scss";

.hero_wrap {
	width: 100%;
	height: 100vh;
	position: relative;
	// overflow: hidden;
	z-index: 0;
	background-color: var(--color_tertiary);
	.banner_section {
		.birds_left {
			top: 175px;
			left: 0%;
			position: absolute;
		}
		.birds_right {
			top: 285px;
			right: 0%;
			position: absolute;
			@media (min-width: 1441px) and (max-width: 1920px) {
				// top: 160px;
			}
		}
		.cloud_left {
			top: 260px;
			left: 8%;
			position: absolute;
			animation: moveside 5s linear infinite;
			@media screen and (max-width: 767px) {
				width: 45%;
				top: 270px;
				animation: moveside1 5s linear infinite;
			}
		}
		.cloud_right {
			top: 340px;
			right: 4%;
			position: absolute;
			animation: moveside 8s linear infinite;
			@media (min-width: 1441px) and (max-width: 1920px) {
				top: 380px;
			}
			@media screen and (max-width: 767px) {
				width: 50%;
				top: 380px;
				animation: moveside1 8s linear infinite;
			}
		}

		@keyframes moveside {
			0% {
				transform: translateX(50px);
			}
			50% {
				transform: translateX(-50px);
			}
			100% {
				transform: translateX(50px);
			}
		}
		@keyframes moveside1 {
			0% {
				transform: translateX(20px);
			}
			50% {
				transform: translateX(-20px);
			}
			100% {
				transform: translateX(20px);
			}
		}
		// @keyframes moveside {
		// 	0% {
		// 		transform: translateX(50px);
		// 	}
		// 	50% {
		// 		transform: translateX(-50px);
		// 	}
		// 	100% {
		// 		transform: translateX(50px);
		// 	}
		// }
		.info {
			padding-top: 10vh;
			text-align: center;
			// @media (min-width: 1201px) and (max-width: 1440px) {
			//     padding-top: 10%;
			// }
			// @media screen and (min-width: 1280px) and (max-width: 1440px) and (min-height: 585px) and (max-height: 730px) {
			// 	padding-top: 5%;
			// }
			@media screen and (max-width: 767px) {
				padding-top: 16vh;
			}

			p {
				color: var(--color_primary);
				@media screen and (max-width: 767px) {
					width: 70%;
					margin: auto;
					padding-top: 10px;
				}
			}
		}
		.mountain {
			top: 43%;
			width: 100%;
			position: absolute;
			img {
				width: 100%;
			}
		}
		.product_img {
			left: 50%;
			z-index: 1;
			bottom: 0;
			position: absolute;
			transform: translateX(-50%);

			@media screen and (max-width: 767px) {
				width: 65vw;
				transform: translateX(-50%) !important;
			}

			img {
				width: 22vw;
				margin: auto;
				@media (min-width: 1201px) and (max-width: 1680px) {
					width: 20vw;
				}
				@media screen and (min-width: 1201px) and (max-width: 1440px) and (min-height: 585px) and (max-height: 730px) {
					width: 18vw;
				}
				@media screen and (min-width: 1441px) and (max-width: 1536px) and (min-height: 585px) and (max-height: 730px) {
					width: 18vw;
				}
				@media screen and (max-width: 767px) {
					width: 100vw;
				}
			}
		}
		.sugarcane {
			bottom: 0;
			width: 100%;
			position: absolute;
			height: 50vh;
			width: 100%;
			object-fit: cover;
			@media screen and (max-width: 767px) {
				height: 40vh;
			}
			img {
				width: 100%;
				height: 100%;
				@media screen and (max-width: 767px) {
					object-fit: cover;
				}
			}
		}
	}
}
