@import "../helpers/helpers.scss";

.OldRoots {
	padding: 50px 0;
	.Head {
		@media only screen and (max-width: 767px) {
			flex-wrap: wrap;
		}
		h2{
			@media only screen and (max-width: 767px) {
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}
	.SliderBox {
		padding-top: 25px;
		// margin-right: -15px;
		.SliderItem {
			padding: 20px 20px 30px;
			// margin-right: 15px;
			.Type {
				padding-top: 15px;
			}
			.Title {
				padding: 4px 0 20px;
			}
		}
		.items {
			display: flex;
			// flex-direction: column;
			align-items: center;
			margin-top: 50px;
		}
		.arrowSection{
			width: 25%;
			position: absolute;
			right: 0;
		}
	
		:global(.swiper-pagination-progressbar) {
			top: unset;
			width: 85%;
			height: 2px;
			left: 13px;
	
			@media (max-width: 991px) {
				width: 75%;
			}
	
			@media (max-width: 767px) {
				width: 65%;
				left: 15px;
			}
		}
	
		:global(.swiper-pagination-progressbar-fill) {
			background-color: #000000;
		}
	
		:global(#customNext) {
			width: 40px;
			height: 40px;
			padding: 0;
			// padding: 10px;
			// border-radius: 50%;
			border: none;
			position: absolute;
			right: 15px;
			background-color: transparent;
			// border: 2px solid #dddddd;
			// bottom: -35px;
			cursor: pointer;
			@media (max-width: 1024px) {
				right: 20px;
				// bottom: -34px;
			}
			@media (max-width: 767px) {
				width: 30px;
				height: 30px;
				top: -20px;
			}
			img{
				width: 40px;
				height: 40px;
			}
		}
	
		:global(#customPrev) {
			width: 40px;
			height: 40px;
			padding: 0;
			// padding: 10px;
			// border-radius: 50%;
			border: none;
			position: absolute;
			right: 70px;
			background-color: transparent;
			// border: 2px solid #dddddd;
			// bottom: -34px;
			cursor: pointer;
			@media (max-width: 1024px) {
				right: 75px;
			}
			@media (max-width: 767px) {
				right: 65px;
				width: 30px;
				height: 30px;
				top: -20px;
			}
			img{
				width: 40px;
				height: 40px;
			}
		}
		:global(.swiper-button-disabled) {
			opacity: 0.5;
		}
	}
}
