@import "../helpers/helpers.scss";

.section_wrapper {
	// overflow: hidden;
	.two_section_wrapper {
		position: relative;
		background-color: var(--color_tertiary);
		// transform: none !important;
		.leaves {
			z-index: 2;
			width: 100%;
			top: -50px;
			position: absolute;
			@media screen and (max-width: 992px) {
				top: -20px;
			}
			img {
				width: 100%;
			}
		}
		.sugarcoating {
			z-index: 1;
			height: 100vh;
			position: relative;
			overflow: hidden;
			// transform: none !important;
			// background-color: var(--color_tertiary);
			@media screen and (max-width: 767px) {
				height: 100vh;
			}
			.sugarcoating_bg {
				// left: 50%;
				// width: 100%;
				// bottom: 0;
				// transform: translateX(-50%);
				position: relative;
				// img{
				//     width: 100%;
				//     clip-path: polygon(5% 0, 95% 0, 99% 3%, 95% 100%, 25% 100%, 5% 100%, 0 3%);
				//     // clip-path: polygon(40% 46%, 67% 46%, 70% 50%, 65% 100%, 40% 100%, 35% 49%);

				// }
				.sugarcoating_bg_img {
					top: 0;
					left: 0;
					width: 100%;
					position: absolute;
					@media screen and (max-width: 1200px) {
						height: 100vh;
						object-fit: cover;
					}
					@media screen and (max-width: 767px) {
						height: 100vh;
					}
					@media screen and (min-width: 1201px) and (max-width: 1367px) and (min-height: 850px) and (max-height: 1024px) {
						height: 100vh;
						object-fit: cover;
					}
				}
				.transBg {
					top: 0;
					left: 0;
					width: 100%;
					position: absolute;
					@media screen and (max-width: 767px) {
						width: 100vw;
						height: 100vh;
						object-fit: cover;
					}
					@media (min-width: 768px) and (max-width: 992px) {
						display: none;
					}
					@media (min-width: 993px) and (max-width: 1200px) {
						width: 100vw;
						height: 100vh;
						object-fit: cover;
					}
					@media (min-width: 992px) and (max-width: 1180px) and (min-height: 580px) and (max-height: 850px) {
						width: 1024px;
						height: 700px;
					}
					@media screen and (min-width: 1201px) and (max-width: 1367px) and (min-height: 850px) and (max-height: 1024px) {
						height: 100vh;
						width: 100vw;
						object-fit: cover;
					}
				}
				.transBgIpad{
					top: 0;
					left: 0;
					width: 100%;
					position: absolute;
					width: 100vw;
					height: 100vh;
					object-fit: cover;
					@media screen and (max-width: 767px) {
						display: none;
					}
					@media (min-width: 993px) and (max-width: 5000px) {
						display: none;
					}
				}
				// .transBgIpadPro{
				// 	top: 0;
				// 	left: 0;
				// 	width: 100%;
				// 	position: absolute;
				// 	width: 100vw;
				// 	height: 100vh;
				// 	object-fit: cover;
				// 	@media screen and (max-width: 992px) {
				// 		display: none;
				// 	}
				// 	@media (min-width: 1201px) and (max-width: 5000px) {
				// 		display: none;
				// 	}
				// }
			}
			.sugarcoating_info {
				top: 50%;
				left: 50%;
				width: 100%;
				position: absolute;
				transform: translate(-50%, -50%);
				.title_sec {
					.title {
						display: flex;
						text-align: center;
						align-items: center;
						justify-content: center;
						span {
							padding: 0 5px;
							height: 98px;
							display: flex;
							align-items: center;
							@media screen and (max-width: 767px) {
								width: 70px;
								height: 70px;
							}
							.chini_img {
								// width: 0px;
								transition: all 0.2s;
							}
						}
					}
				}
				.para {
					width: 45%;
					margin: auto;
					padding-top: 15px;
					@media screen and (max-width: 992px) {
						width: 70%;
					}
					p {
						text-align: center;
						color: var(--color_tertiary);
					}
				}
			}
		}
		.TrupathCircleWrapper {
			z-index: 1;
			// height: 100vh;
			height: auto;
			position: absolute;
			left: 0;
			top: 120%;
			@media screen and (max-width: 992px) {
				top: 100%;
			}
			.TrupathCircle {
				height: 100vh;
				width: 100vw;
				padding-top: 100px;
				position: relative;
				@media screen and (max-width: 1200px) {
					height: 100vh;
					padding-top: 0;
				}
				.circle_div {
					bottom: 0;
					z-index: 10;
					width: 100vw;
					height: 100vh;
					overflow: hidden;
					position: absolute;
					background-size: cover;
					background-repeat: no-repeat;
					border-top-left-radius: 100vh;
					border-top-right-radius: 100vh;
					// background-color: #ff4900;
					@media screen and (max-width: 767px) {
						height: 75vh;
						border-top-left-radius: 0;
						border-top-right-radius: 0;
						background-color: transparent;
					}
					@media (min-width: 768px) and (max-width: 1200px) {
						height: 90vh;
						border-top-left-radius: 0;
						border-top-right-radius: 0;
						background-color: transparent;
					}
					@media (min-width: 992px) and (max-width: 1180px) and (min-height: 580px) and (max-height: 850px) {
						height: 86vh;
					}
					@media screen and (min-width: 1201px) and (max-width: 1367px) and (min-height: 850px) and (max-height: 1024px) {
						height: 96vh;
						border-top-left-radius: 0;
						border-top-right-radius: 0;
					}
					&::before {
						content: "";
						width: 100vw;
						// opacity: 0.3;
						background-image: url(../../../public/img/home/circle_bg_color.png);
						position: relative;
						display: block;
						height: 100vh;
						background-size: cover;
						background-repeat: no-repeat;
						// @media (min-height: 992px) and (max-height: 1024px)  {
						// 	height: 90vh;
						// }
						@media screen and (max-width: 767px) {
							opacity: 1;
							height: 75vh;
							bottom: 0;
							background-position: center;
							position: absolute;
							background-image: url(../../../public/img/home/circle_img_mobile.png);
						}
						@media (min-width: 768px) and (max-width: 1200px) {
							opacity: 1;
							height: 90vh;
							bottom: 0;
							background-position: center;
							position: absolute;
							background-image: url(../../../public/img/home/circle_img_ipad.png);
						}
						@media (min-width: 992px) and (max-width: 1180px) and (min-height: 580px) and (max-height: 850px) {
							height: 86vh;
							background-position: top;
						}
						@media screen and (min-width: 1201px) and (max-width: 1367px) and (min-height: 850px) and (max-height: 1024px) {
							height: 86vh;
							background-position: top;
						}
					}
					.text_para {
						width: 43%;
						opacity: 0;
						margin: auto;
						top: -40px;
						left: 50%;
						transform: translateX(-50%);
						z-index: 2;
						text-align: center;
						padding-top: 120px;
						position: absolute;
						@media screen and (max-width: 992px) {
							width: 75%;
							top: 0;
							padding-top: 70px;
							color: var(--color_black) !important;
						}
						@media (min-width: 768px) and (max-width: 992px) {
							padding-top: 120px;
						}
						@media (min-width: 993px) and (max-width: 1200px) {
							width: 70%;
							padding-top: 140px;
						}
						@media (min-width: 1441px) and (max-width: 5000px) {
							padding-top: 130px;
						}
						@media screen and (min-width: 1280px) and (max-width: 1440px) and (min-height: 585px) and (max-height: 680px) {
							padding-top: 75px;
						}
						@media screen and (min-width: 1680px) and (max-width: 1680px) and (min-height: 800px) and (max-height: 1080px) {
							padding-top: 160px;
						}
						@media screen and (min-width: 1920px) and (max-width: 1920px) and (min-height: 800px) and (max-height: 1260px) {
							padding-top: 160px;
						}
						p {
							font-size: 20px;
							line-height: 28px;
							font-weight: 300;
							font-style: normal;

							font-family: var(----font_tertiary);
							@media screen and (max-width: 767px) {
								font-size: 18px;
								line-height: 24px;
								color: #411a0f;
							}
							@media (min-width: 993px) and (max-width: 1200px) {
								font-size: 25px;
								line-height: 35px;
							}
							@media screen and (min-width: 1280px) and (max-width: 1440px) and (min-height: 585px) and (max-height: 680px) {
								font-size: 18px;
							}
						}
					}
					.product_circle {
						@media (min-width: 1441px) and (max-width: 5000px) {
							bottom: 100px;
						}

						.SpoonMain {
							// position: relative;
							position: absolute;
							// bottom: 0;
							z-index: 5;
							top: calc(100vh + 510px);
							transform: translate(-50%, 0%);
							left: calc(50% + 240px);
							opacity: 0;
							@media screen and (max-width: 767px) {
								width: 50%;
								top: calc(100vh + 125px);
								left: calc(50%);
							}
							@media (min-width: 768px) and (max-width: 992px) {
								width: 50%;
								top: calc(100vh + 340px);
								left: calc(56%);
							}
							@media (min-width: 993px) and (max-width: 1200px) {
								top: calc(100vh + 380px);
								left: calc(50% + 170px);
							}
							.Spoon {
							}
						}
						.product_circle_img {
							// width: 360px;
							left: 50%;
							// top: -90%;
							z-index: 1;
							position: absolute;
							// transform: translateX(-50%) rotate(16deg);
							// @media (min-width: 1441px) and (max-width: 5000px) {
							//     width: 500px;
							// }
							// @media screen and (min-width: 1440px) and (max-width: 1440px) and (min-height: 810px) and (max-height: 1260px) {
							//     width: 420px;
							// }
							@media screen and (max-width: 767px) {
								width: 100vw;
								height: 100vh;
								z-index: 2;
								object-fit: cover;
							}
							@media (min-width: 768px) and (max-width: 992px) {
								display: none;
							}
							@media (min-width: 993px) and (max-width: 1200px) {
								width: 100vw;
								height: 100vh;
								z-index: 2;
								object-fit: cover;
							}
							@media (min-width: 992px) and (max-width: 1180px) and (min-height: 580px) and (max-height: 850px) {
								width: 1024px;
								height: 700px;
							}
							@media screen and (min-width: 1201px) and (max-width: 1367px) and (min-height: 850px) and (max-height: 1024px) {
								height: 100vh;
								width: 100vw;
								object-fit: cover;
							}
						}
						.mobileHandProduct {
							bottom: 0;
							right: 0;
							position: absolute;
						}
						.product_circle_img_ipad{
							left: 50%;
							z-index: 2;
							position: absolute;
							@media screen and (max-width: 767px) {
								display: none;
							}
							@media (min-width: 993px) and (max-width: 5000px) {
								display: none;
							}
						}
						.left_star {
							top: 50%;
							left: 50%;
							opacity: 0;
							z-index: 0;
							position: absolute;
							transform: translate(-50%, -50%);
							@media screen and (max-width: 767px) {
								z-index: 1;
								top: 65%;
							}
							@media (min-width: 768px) and (max-width: 992px) {
								top: 65%;
								z-index: 1;
							}
						}
						.right_star {
							top: 40%;
							right: 50%;
							z-index: 0;
							opacity: 0;
							position: absolute;
							transform: translate(-50%, -50%);
							@media screen and (max-width: 767px) {
								top: 65%;
								z-index: 1;
							}
							@media (min-width: 768px) and (max-width: 992px) {
								z-index: 1;
								top: 55%;
							}
						}
					}
					.hand {
						right: 0;
						z-index: 2;
						bottom: 20px;
						position: absolute;
						@media (min-width: 768px) and (max-width: 992px) {
							bottom: 162px;
						}
						@media (min-width: 993px) and (max-width: 1200px) {
							z-index: 2;
							bottom: 100px;
						}
						@media screen and (min-width: 1201px) and (max-width: 1367px) and (min-height: 850px) and (max-height: 1024px){
							z-index: 2;
							right: -15px;
							bottom: 150px;
						}
						img {
							width: 57vw;
							@media (min-width: 768px) and (max-width: 992px) {
								width: 55vw;
							}
							@media (min-width: 993px) and (max-width: 1200px) {
								width: 50vw;
							}
						}
						@media screen and (max-width: 767px) {
							z-index: 3;
						}
						@media (min-width: 768px) and (max-width: 992px) {
							z-index: 2;
						}
						@media (min-width: 1681px) and (max-width: 5000px) {
							bottom: 60px;
						}
						// @media screen and (min-width: 1920px) and (max-width: 1920px) and (min-height: 800px) and (max-height: 1260px) {
						//     bottom: 50px;
						// }
						// img{
						//     @media screen and (min-width: 1920px) and (max-width: 1920px) and (min-height: 800px) and (max-height: 1260px) {
						//        width: 1000px;
						//     }
						// }
					}
				}
				.title_div {
					top: -70px;
					width: 100%;
					left: -80px;
					height: 1600px;
					width: 1600px;
					overflow: hidden;
					position: absolute;
					transform: rotate(0deg);
					opacity: 1;
					clip-path: inset(0% 0% 50% 0%);
					@media (min-width: 1201px) and (max-width: 1367px) {
						left: -68px;
					}
					@media screen and (min-width: 1201px) and (max-width: 1367px) and (min-height: 850px) and (max-height: 1024px) {
						top: -25px;
					}
					@media screen and (max-width: 767px) {
						left: 50%;
						top: -20px;
						height: 800px;
						width: 800px;
						transform: translateX(-50%);
						clip-path: inset(0% 0% 50% 0%);
					}
					@media (min-width: 768px) and (max-width: 992px) {
						left: 50%;
						top: 20px;
						width: 1600px;
						height: 1600px;
						transform: translateX(-50%);
						// transform: rotate(0deg);
						opacity: 1;
						clip-path: inset(0% 0% 50% 0%);
					}
					@media (min-width: 993px) and (max-width: 1200px) {
						left: 50%;
						top: 20px;
						width: 2000px;
						height: 2000px;
						transform: translateX(-50%);
						// transform: rotate(0deg);
						opacity: 1;
					}
					
					@media (min-width: 1441px) and (max-width: 1680px) {
						width: 1850px;
						height: 1850px;
						left: -90px;
					}
					@media (min-width: 1680px) and (max-width: 1920px) {
						width: 2100px;
						height: 2100px;
						left: -90px;
					}
					@media screen and (min-width: 1441px) and (max-width: 1536px) and (min-height: 700px) and (max-height: 900px) {
						width: 1650px;
						height: 1650px;
						left: -55px;
					}
					
					img {
						width: 100%;
						// @media (min-width: 768px) and (max-width: 992px) {
							animation: rotate1 25s linear infinite;
						// }
						height: 1600px;
						width: 1600px;
						@media (min-width: 993px) and (max-width: 1200px) {
							width: 2000px;
							height: 2000px;
						}
						@media (min-width: 1201px) and (max-width: 1367px) {
							width: 1500px;
							height: 1500px;
						}
						@media (min-width: 1441px) and (max-width: 1680px) {
							width: 1850px;
							height: 1850px;
						}
						@media (min-width: 1680px) and (max-width: 1920px) {
							width: 2100px;
							height: 2100px;
						}
						@media screen and (min-width: 1441px) and (max-width: 1536px) and (min-height: 700px) and (max-height: 900px) {
							width: 1650px;
							height: 1650px;
						}
					}
				}
				.title_div_mobile {
					top: 20vh;
					padding-top: 5px;
					clip-path: inset(0% 0% 50% 0%);
					img {
						height: 800px;
						width: 800px;
						// object-fit: cover;
						transform: rotate(0deg);
						opacity: 1;
						animation: rotate1 25s linear infinite;
					}
					@keyframes rotate1 {
						0% {
							transform: rotate(0deg);
						}
						100% {
							transform: rotate(360deg);
						}
					}
				}
				@keyframes rotate1 {
					0% {
						transform: rotate(0deg);
					}
					100% {
						transform: rotate(360deg);
					}
				}
			}
		}
	}
	.Nature {
		z-index: -1;
		position: relative;
		// margin-top: 400px;
		// background-color: #d94426;
		// background-image: url();
		padding-top: 10vh;
		@media screen and (max-width: 992px) {
			padding-top: 0;
			background-color: #522415 !important;
		}
		&::after {
			content: "";
			width: 100%;
			opacity: 0.1;
			top: 0;
			left: 0;
			background-image: url(../../../public/img/home/nature_bg_new.png);
			position: absolute;
			display: block;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			@media screen and (max-width: 992px) {
				opacity: 1;
				z-index: -1;
				background-image: none;
			}
		}

		// &.active-bg{
		//     background-color: #d94426;
		// }
		// &.active-bg{
		//     background-image: url(../../../public/img/home/nature_bg.jpg);
		// }
		.nature_section {
			padding: 100px 0 50px;
			@media screen and (max-width: 767px) {
				flex-wrap: wrap;
				padding: 47vh 0 40px 0;
			}
			@media (min-width: 768px) and (max-width: 992px) {
				flex-wrap: wrap;
				padding: 550px 0 40px 0;
			}
			.mobileProduct {
				margin: auto;
			}
			.info {
				width: 40%;
				@media screen and (max-width: 992px) {
					width: 100%;
					background-color: #522415;
					position: relative;
				}
				@media (min-width: 993px) and (max-width: 1200px) {
					width: 30%;
				}
				h2 {
					padding-bottom: 20px;
					color: var(--color_tertiary);
					@media screen and (max-width: 992px) {
						padding-bottom: 10px;
					}
					@media (min-width: 993px) and (max-width: 1200px) {
						font-size: 39px;
						line-height: 50px;
					}
				}
			}
			.product {
				width: 60%;
				position: relative;
				@media screen and (max-width: 992px) {
					width: 100%;
				}
				@media screen and (max-width: 992px) {
					display: none;
				}
				@media (min-width: 993px) and (max-width: 1200px) {
					width: 65%;
				}
				.left_section {
					display: flex;
					width: 170px;
					height: 510px;
					position: relative;
					top: -25px;
					flex-wrap: wrap;
					position: absolute;
					align-items: center;
					@media screen and (max-width: 992px) {
						top: 0;
						position: relative;
					}
					.icon_lottie {
						width: 73px;
						margin: auto;
					}
					img {
						margin: auto;
					}
					p {
						padding-top: 10px;
						text-align: center;
						color: var(--color_tertiary);
					}
					.top_item {
						width: 73%;
						margin-left: auto;
					}
					.center_item {
						width: 72%;
						margin: 0;
					}
					.bottom_item {
						width: 72%;
						margin-left: auto;
					}
				}
				.right_section {
					display: flex;
					width: 170px;
					height: 510px;
					position: relative;
					top: -25px;
					right: 0;
					flex-wrap: wrap;
					position: absolute;
					align-items: center;
					
					img {
						margin: auto;
					}
					.icon_lottie {
						width: 73px;
						margin: auto;
					}
					p {
						padding-top: 10px;
						text-align: center;
						color: var(--color_tertiary);
					}
					.top_item {
						width: 73%;
						margin: 0;
					}
					.center_item {
						width: 72%;
						margin-left: auto;
					}
					.bottom_item {
						width: 72%;
						margin: 0;
					}
				}
				.product_img {
					width: 53%;
					margin: auto;
					.ProductImg {
						width: 325px;
						margin-left: 50px;
						visibility: hidden;
					}
				}
			}
			.mobile_product {
				display: flex;
				flex-wrap: wrap;
				grid-column-gap: 10px;
				grid-row-gap: 30px;
				margin-top: 40px;
				@media (min-width: 768px) and (max-width: 992px) {
					grid-row-gap: 50px;
				}
				.icon_item {
					width: 31%;
					@media (min-width: 768px) and (max-width: 992px) {
						width: 23.9%;
					}
					img {
						margin: auto;
					}
					p {
						padding-top: 10px;
						text-align: center;
						color: var(--color_tertiary);
						font-size: 12px;
						line-height: 16px;
						@media (min-width: 768px) and (max-width: 992px) {
							font-size: 15px;
							line-height: 20px;
						}
					}
				}
				@media (min-width: 993px) and (max-width: 5000px) {
					display: none;
				}
			}
		}
	}
	.wave_bgg {
		background-color: var(--color_tertiary);
	}
}
