@import "../helpers/helpers.scss";

.SugarcaneField {
	padding: 50px 0;
	position: relative;
	overflow: hidden;
	// &::before{
	// 	content: "";
	// 	width: 100%;
	// 	opacity: 0.4;
	// 	background-image: url(../../../public/img/home/nature_bg_wave.png);
	// 	position: absolute;
	// 	display: block;
	// 	height: 50px;
	// 	top: 0;
	// 	left: 0;
	// 	background-size: cover;
	// 	background-repeat: no-repeat;
	// }
	.CloudTop {
		.Cloud2 {
			animation: moveside 5s linear infinite;
			// transform: translateY(-100%) !important;
		}
	}
	.CloudsBox {
		padding: 0px 0 50px;
		.Cloud1 {
			animation: moveside 5s linear infinite;
		}
		.Cloud3 {
			padding-right: 50px;
			animation: moveside 5s linear infinite;
		}
	}
	.TextBx {
		.Title {
			width: 40%;
			overflow: hidden;
			p {
				transform: translateY(150%);
			}
		}
		.Desc {
			width: 50%;
			overflow: hidden;
			p {
				transform: translateY(150%);
			}
		}
	}

	@keyframes moveside {
		0% {
			transform: translateX(50px);
		}
		50% {
			transform: translateX(-50px);
		}
		100% {
			transform: translateX(50px);
		}
	}
}
