@import "../helpers/helpers.scss";

.SugarcaneField {
	padding: 50px 0;
	.CloudsBox {
	}
	.TextBx {
		.Title {
			width: 40%;
			overflow: hidden;
			p {
				transform: translateY(150%);
			}
		}
		.Desc {
			width: 50%;
			overflow: hidden;
			p {
				transform: translateY(150%);
			}
		}
	}
}
