@import "../helpers/helpers.scss";

.SweetTaste {
	padding: 50px 0;
	@media screen and (max-width: 992px) {
		padding-top: 0;
	}
	.FlexMain {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		@media screen and (max-width: 1199px) {
			align-items: center;
		}
		@media screen and (max-width: 991px) {
			flex-direction: column;
			gap: 70px;
		}
		@media screen and (max-width: 767px) {
			gap: 20px;
		}
		.TextBx {
			width: 38%;
			@media screen and (max-width: 1199px) {
				width: 45%;
			}
			@media screen and (max-width: 991px) {
				width: 100%;
			}
			h2 {
				color: var(--color_primary);
			}
			h5 {
				padding: 10px 0 20px;
				@media screen and (max-width: 992px) {
					padding: 10px 0 10px;
				}
			}
			p {
				color: var(--color_primary);
			}
			.BowlImg {
				@media screen and (max-width: 767px) {
					padding-bottom: 30px;
				}
			}
		}
		.ImgBx {
			width: 55%;
			position: relative;
			@media screen and (max-width: 1199px) {
				width: 55%;
			}
			@media screen and (max-width: 991px) {
				width: 100%;
			}
			@media screen and (max-width: 767px) {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				column-gap: 15px;
				row-gap: 20px;
			}
			.BowlImg {
				margin: auto;
				@media screen and (max-width: 1199px) {
					width: 65%;
				}
			}
			.TextBoxes {
				position: absolute;
				align-items: flex-start;
				gap: 4px;
				opacity: 0;
				&:nth-of-type(1) {
					left: 0;
					top: 50%;
					transform: translate(-10px, -15px);
					@media screen and (max-width: 1199px) {
						left: 10px;
						top: 56%;
					}
				}
				&:nth-of-type(2) {
					left: 30px;
					top: 15%;
					transform: translate(-10px, 20px);
				}
				&:nth-of-type(3) {
					left: 26%;
					top: -35px;
					transform: translate(-90px, 40px);
				}
				&:nth-of-type(4) {
					left: 55%;
					top: -50px;
					transform: translate(80px, 40px);
				}
				&:nth-of-type(5) {
					right: 10px;
					top: 10%;
					transform: translate(13px, 10px);
					@media screen and (max-width: 991px) {
						right: 35px;
						top: 8%;
					}
					@media (min-width: 993px) and (max-width: 991px) {
						right: -15px;
					}
				}
				&:nth-of-type(6) {
					right: -40px;
					top: 53%;
					transform: translate(10px, -40px);
					// @media screen and (max-width: 1199px) {
					// 	right: -28px;
					// }
					@media (min-width: 768px) and (max-width: 991px) {
						right: -10px;
					}
					// @media (min-width: 993px) and (max-width: 991px) {
					// 	right: -35px;
					// }
				}
				&:nth-of-type(7) {
					right: 90px;
					bottom: -20px;
					transform: translate(30px, -80px);
				}
				&:nth-of-type(8) {
					left: 45%;
					bottom: -60px;
					transform: translate(180px, -65px);
				}
				&:nth-of-type(9) {
					left: 90px;
					bottom: -35px;
					transform: translate(-55px, -75px);
				}
				@media screen and (max-width: 767px) {
					position: relative;
					opacity: 1;
					left: unset !important;
					right: unset !important;
					top: unset !important;
					bottom: unset !important;
					transform: unset !important;
				}
			}
		}
	}
}
