@import "../helpers/helpers.scss";
			
.BlogsListingPage{
    position: relative;
    padding: 0 0 80px;
    .BlogsListingMain{
        .Head{
            padding-bottom: 40px;
            .Tabs{
                display: flex;
                padding-top: 20px;
                @media screen and (max-width:767px) {
                    flex-wrap: wrap;
                    row-gap: 20px;
                }
                .btn{
                    width: fit-content;
                    padding: 8px 14px;
                    cursor: pointer;
                    &.active{
                        border-radius: 5px;
                        border: 1px solid var(--color_primary);
                    }
                }
            }
        }
        .GridBox{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            row-gap: 40px;
            column-gap: 15px;
            @media screen and (max-width:991px) {
                grid-template-columns: repeat(2,1fr);
            }
            @media screen and (max-width:767px) {
                grid-template-columns: repeat(1,1fr);
            }
        }
        .ViewBtn{
            padding: 40px 0 80px;
            width: fit-content;
            margin: auto;
            @media screen and (max-width:991px) {
                padding: 40px 0;
            }
            @media screen and (max-width:767px) {
                padding: 40px 0 0px;
            }
        }
    }
	.Waves {
		position: absolute;
		z-index: 1;
		bottom: -5px;
		@media screen and (max-width: 992px) {
			bottom: -7px;
		}
	}
}